<div class="p-8 min-h-screen flex items-start justify-center bg-gradient-to-r from-blue-900 to-blue-400 w-full">
  <div class="flex flex-col justify-start content-start text-center w-full md:w-2/3 lg:w-5/12">
    <div class="mb-3 w-full">
      <h1 class="text-6xl text-slate-50">OrcmApp</h1>
    </div>
    <div class="mb-6 text-slate-50 text-lg">
      <p>App para gestão de <span class="text-yellow-500 font-semibold">orçamento</span></p>
      <p>pessoal e familiar</p>
    </div>
    <div class="mb-8 w-full">
      <h1 class="text-4xl text-slate-50">Criar Conta</h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-full text-left">
      <!--E-mail-->
      <div class="flex justify-center w-full">
        <div class="w-full mb-10 lg:w-3/4">
          <label for="email" class="text-slate-50">E-mail</label>
          <p-iconfield>
            <p-inputicon class="pi pi-envelope"/>
            <input formControlName="email" id="email" type="email" class="w-full" pInputText placeholder="digite um e-mail válido..."
                   size="large"/>
          </p-iconfield>
          <p class="text-yellow-400" *ngIf="registerForm.get('email')?.errors?.['required'] && submitted">E-mail é obrigatório</p>
          <p class="text-yellow-400" *ngIf="registerForm.get('email')?.errors?.['email'] && submitted">E-mail digitado é inválido</p>
        </div>
      </div>
      <!--Senha-->
      <div class="flex justify-center w-full">
        <div class="w-full mb-10 lg:w-3/4">
          <label for="password" class="text-slate-50">Senha</label>
          <p-iconfield>
            <p-inputicon class="pi pi-lock"/>
            <input formControlName="password" id="password" type="password" class="w-full" pInputText placeholder="digite uma senha válida..."
                   size="large"/>
          </p-iconfield>
          <p class="text-yellow-400" *ngIf="registerForm.get('password')?.errors?.['required'] && submitted">Senha é obrigatória!</p>
          <p class="text-yellow-400" *ngIf="registerForm.get('password')?.errors?.['minlength'] && submitted">A senha deve ter no minio 8 caracteres!</p>
          <p class="text-slate-50 text-sm mt-2">A senha deve ter no mínimo 8 caracteres</p>
        </div>
      </div>
      <div class="flex justify-center w-full">
        <div class="w-full mb-10 lg:w-3/4">
          <label for="confirmPassword" class="text-slate-50">Confirmar senha</label>
          <p-iconfield>
            <p-inputicon class="pi pi-lock"/>
            <input formControlName="confirmPassword" id="confirmPassword" type="password" class="w-full" pInputText
                   placeholder="repita a senha digitada acima..."
                   size="large"/>
          </p-iconfield>
          <p class="text-yellow-400" *ngIf="registerForm.get('confirmPassword')?.errors?.['required'] && submitted">Confirmar a senha é obrigatório!</p>
          <p class="text-yellow-400" *ngIf="registerForm.errors?.['passwordMismatch'] && submitted">As senhas não coincidem!</p>
          <p class="text-slate-50 text-sm mt-2">Digite a mesma senha do campo acima</p>
        </div>
      </div>
      <div class="w-full md:w-3/5 lg:w-2/5 mx-auto flex justify-center">
        <div class="grow">
          <p-button label="Criar conta" [rounded]="true" size="large" [fluid]="true" type="submit"
                    styleClass="bg-white text-blue-900 border border-blue-900 hover:bg-gray-200 font-bold shadow-lg transition duration-300 ease-in-out"></p-button>
        </div>
      </div>
    </form>
  </div>
</div>

<p-dialog header="Cadastro não enviado!" [modal]="true" [(visible)]="visibleErrorDialog">
  <div class="mb-4">
    <p>Verifique os erros abaixo: </p>
  </div>
  <div class="mb-4">
    <p class="text-red-600" *ngIf="registerForm.get('email')?.errors?.['required'] && submitted">E-mail é obrigatório</p>
    <p class="text-red-600" *ngIf="registerForm.get('email')?.errors?.['email'] && submitted">E-mail digitado é inválido</p>
    <p class="text-red-600" *ngIf="registerForm.get('password')?.errors?.['required'] && submitted">Senha é obrigatória!</p>
    <p class="text-red-600" *ngIf="registerForm.get('password')?.errors?.['minlength'] && submitted">A senha deve ter no minio 8 caracteres!</p>
    <p class="text-red-600" *ngIf="registerForm.get('confirmPassword')?.errors?.['required'] && submitted">Confirmar a senha é obrigatório!</p>
    <p class="text-red-600" *ngIf="registerForm.errors?.['passwordMismatch'] && submitted">As senhas não coincidem!</p>
  </div>
</p-dialog>

