<div class="p-8 min-h-screen flex items-start justify-center bg-gradient-to-r from-blue-900 to-blue-400 w-full">
  <div class="flex flex-col justify-start content-start text-center w-full md:w-2/3 lg:w-5/12">
    <div class="mb-3 w-full">
      <h1 class="text-6xl text-slate-50">OrcmApp</h1>
    </div>
    <div class="mb-6 text-slate-50 text-lg">
      <p>App para gestão de <span class="text-yellow-500 font-semibold">orçamento</span></p>
      <p>pessoal e familiar</p>
    </div>
    <div class="mb-8 w-full">
      <h1 class="text-4xl text-slate-50">Criar Conta</h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-full text-left">
      <!--Nome Completo-->
      <div class="flex justify-center w-full">
        <div class="w-full mb-8 lg:w-3/4">
          <p class="text-slate-50 text-sm mb-2">Informe abaixo seu nome completo</p>
          <label for="fullName" class="text-slate-50">Nome completo</label>
          <p-iconfield>
            <p-inputicon class="pi pi-user"/>
            <input formControlName="fullName" id="fullName" type="text" class="w-full" pInputText placeholder="digite seu nome completo..."
                   size="large"/>
          </p-iconfield>
          <p class="text-yellow-400" *ngIf="registerForm.get('fullName')?.errors?.['required'] && submitted">Nome completo é obrigatório</p>
          <p class="text-yellow-400" *ngIf="registerForm.get('fullName')?.errors?.['whitespace'] && submitted">Nome completo está em branco ou só contem
            espaços</p>
        </div>
      </div>
      <!--E-mail-->
      <div class="flex justify-center w-full">
        <div class="w-full mb-8 lg:w-3/4">
          <p class="text-slate-50 text-sm mb-2">Informe abaixo o e-mail que deseja usar para cadastro</p>
          <label for="email" class="text-slate-50">E-mail</label>
          <p-iconfield>
            <p-inputicon class="pi pi-envelope"/>
            <input formControlName="email" id="email" type="email" class="w-full" pInputText placeholder="digite um e-mail válido..."
                   size="large"/>
          </p-iconfield>
          <p class="text-yellow-400" *ngIf="registerForm.get('email')?.errors?.['required'] && submitted">E-mail é obrigatório</p>
          <p class="text-yellow-400" *ngIf="registerForm.get('email')?.errors?.['email'] && submitted">E-mail digitado é inválido</p>
        </div>
      </div>
      <!--Senha-->
      <div class="flex justify-center w-full">
        <div class="w-full mb-10 lg:w-3/4">
          <div class="mb-4">
            <p-panel header="Regras para criação de Senha" [toggleable]="true" [collapsed]="true">
              <p class="text-sm mb-2">- É <strong>obrigatório</strong> a senha ter no <strong>mínimo</strong> 8 caracteres</p>
              <p class="text-sm">Não é obrigatório mas...</p>
              <p class="text-sm">- É recomendado letras e números</p>
              <p class="text-sm">- É recomendado letras maiúsculas e minusculas</p>
              <p class="text-sm mb-6">- É recomendado incluir caracteres especiais</p>
            </p-panel>
          </div>
          <label for="password" class="text-slate-50">Senha</label>
          <p-iconfield>
            <p-inputicon class="pi pi-lock"/>
            <input formControlName="password" id="password" type="password" class="w-full" pInputText placeholder="digite uma senha válida..."
                   size="large"/>
          </p-iconfield>
          <p class="text-yellow-400" *ngIf="registerForm.get('password')?.errors?.['required'] && submitted">Senha é obrigatória!</p>
          <p class="text-yellow-400" *ngIf="registerForm.get('password')?.errors?.['minlength'] && submitted">A senha deve ter no minio 8 caracteres!</p>
        </div>
      </div>
      <div class="flex justify-center w-full">
        <div class="w-full mb-10 lg:w-3/4">
          <label for="confirmPassword" class="text-slate-50">Confirmar senha</label>
          <p-iconfield>
            <p-inputicon class="pi pi-lock"/>
            <input formControlName="confirmPassword" id="confirmPassword" type="password" class="w-full" pInputText
                   placeholder="repita a senha digitada acima..."
                   size="large"/>
          </p-iconfield>
          <p class="text-yellow-400" *ngIf="registerForm.get('confirmPassword')?.errors?.['required'] && submitted">Confirmar a senha é obrigatório!</p>
          <p class="text-yellow-400" *ngIf="registerForm.errors?.['passwordMismatch'] && submitted">As senhas não coincidem!</p>
          <p class="text-slate-50 text-sm mt-2">Digite a mesma senha do campo acima</p>
        </div>
      </div>
      <div class="w-full md:w-3/5 lg:w-2/5 mx-auto flex justify-center">
        <div class="grow">
          <p-button label="Criar conta" [rounded]="true" size="large" [fluid]="true" type="submit"
                    styleClass="bg-white text-blue-900 border border-blue-900 hover:bg-gray-200 font-bold shadow-lg transition duration-300 ease-in-out"></p-button>
        </div>
      </div>
    </form>
  </div>
</div>

<p-dialog header="Cadastro Não Enviado!" [modal]="true" [(visible)]="visibleValidatorDialog">
  <div class="mb-4">
    <p>Verifique os erros abaixo: </p>
  </div>
  <div class="mb-4">
    <p class="text-red-600" *ngIf="registerForm.get('fullName')?.errors?.['required'] && submitted">Nome completo é obrigatório</p>
    <p class="text-red-600" *ngIf="registerForm.get('fullName')?.errors?.['whitespace'] && submitted">Nome completo está em branco ou só contem espaços</p>
    <p class="text-red-600" *ngIf="registerForm.get('email')?.errors?.['required'] && submitted">E-mail é obrigatório</p>
    <p class="text-red-600" *ngIf="registerForm.get('email')?.errors?.['email'] && submitted">E-mail digitado é inválido</p>
    <p class="text-red-600" *ngIf="registerForm.get('password')?.errors?.['required'] && submitted">Senha é obrigatória!</p>
    <p class="text-red-600" *ngIf="registerForm.get('password')?.errors?.['minlength'] && submitted">A senha deve ter no minio 8 caracteres!</p>
    <p class="text-red-600" *ngIf="registerForm.get('confirmPassword')?.errors?.['required'] && submitted">Confirmar a senha é obrigatório!</p>
    <p class="text-red-600" *ngIf="registerForm.errors?.['passwordMismatch'] && submitted">As senhas não coincidem!</p>
  </div>
</p-dialog>

<p-dialog header="Erro ao Criar Conta!" [modal]="true" [(visible)]="visibleErrorDialog" styleClass="m-4">
  <div class="mb-4">
    <p class="text-red-600">{{ apiError.message }}</p>
  </div>
</p-dialog>

<p-dialog header="Conta Criada!" [modal]="true" [(visible)]="visibleSucessDialog" styleClass="m-4">
  <div class="mb-4 flex flex-col">
    <span class="p-text-secondary block mb-8">Sua conta para o e-mail: {{ newUser?.email?.toLowerCase() }} foi criada com sucesso!!</span>

    <div class="flex justify-end gap-2">
      <p-button label="Ir para tela de Login" (onClick)="redirectToLogin()"/>
    </div>
  </div>
</p-dialog>

<div *ngIf="loading" class="spinner-overlay">
  <div class="flex flex-col justify-items-center items-center">
    <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
    <p class="text-slate-50 text-lg">Criando sua conta...</p>
  </div>
</div>




